[alias]
lol = log --pretty=oneline --abbrev-commit --graph --decorate --all
[user]
	name = whirlwin
	email = whirlwin90@gmail.com
[branch "master"]
	rebase = true
[branch]
	autosetuprebase = always
[push]
	default = simple
[color]
	ui = auto
[core]
	editor = /usr/bin/vim
	excludesfile = /Users/oyvodega/.gitignore_global
